In [1]:
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt

In [2]:
ds = pd.read_csv( "Student Mental health.csv")
ds.info()

FileNotFoundError: [Errno 2] No such file or directory: 'Student Mental health.csv'

In [6]:
ds.head()

,Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,8/7/2020 12:02,Female,18.0,Engineering,year 1,3.00 - 3.49,No,Yes,No,Yes,No
1,8/7/2020 12:04,Male,21.0,Islamic education,year 2,3.00 - 3.49,No,No,Yes,No,No
2,8/7/2020 12:05,Male,19.0,BIT,Year 1,3.00 - 3.49,No,Yes,Yes,Yes,No
3,8/7/2020 12:06,Female,22.0,Laws,year 3,3.00 - 3.49,Yes,Yes,No,No,No
4,8/7/2020 12:13,Male,23.0,Mathemathics,year 4,3.00 - 3.49,No,No,No,No,No

In [7]:
ds.shape

(101, 11)

In [8]:
dp = pd.read_csv( "Preprocessed World University Rankings 2023 Dataset.csv")
dp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2341 entries, 0 to 2340
Columns: 2362 entries, No of student to University Rank
dtypes: float64(12), int64(2349), object(1)
memory usage: 42.2+ MB

In [10]:
dp.shape

(2341, 2362)

In [9]:
dp.head()

,No of student,No of student per staff,International Student,Teaching Score,Research Score,Citations Score,Industry Income Score,International Outlook Score,Female Ratio,Male Ratio,...,Location_United Kingdom,Location_United States,Location_Unknown Location,Location_Uruguay,Location_Uzbekistan,Location_Venezuela,Location_Vietnam,Location_Zambia,Location_Zimbabwe,University Rank
0,20965.0,10.6,0.42,92.3,99.7,99.0,74.9,96.2,48.0,52.0,...,1,0,0,0,0,0,0,0,0,1
1,21887.0,9.6,0.25,94.8,99.0,99.3,49.5,80.5,50.0,50.0,...,0,1,0,0,0,0,0,0,0,2
2,20185.0,11.3,0.39,90.9,99.5,97.0,54.2,95.8,47.0,53.0,...,1,0,0,0,0,0,0,0,0,3
3,16164.0,7.1,0.24,94.2,96.7,99.8,65.0,79.8,46.0,54.0,...,0,1,0,0,0,0,0,0,0,3
4,11415.0,8.2,0.33,90.7,93.6,99.8,90.9,89.3,40.0,60.0,...,0,1,0,0,0,0,0,0,0,5

In [23]:
dn = pd.read_csv( "U.S._Chronic_Disease_Indicators__CDI_.csv")
dn.info()

/var/folders/47/rqylc_bx6kg5rfgch6rl38vw0000gn/T/ipykernel_48924/4072564395.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  dn = pd.read_csv( "U.S._Chronic_Disease_Indicators__CDI_.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1185676 entries, 0 to 1185675
Data columns (total 34 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   YearStart                  1185676 non-null  int64
 1   YearEnd                    1185676 non-null  int64
 2   LocationAbbr               1185676 non-null  object
 3   LocationDesc               1185676 non-null  object
 4   DataSource                 1185676 non-null  object
 5   Topic                      1185676 non-null  object
 6   Question                   1185676 non-null  object
 7   Response                   0 non-null        float64
 8   DataValueUnit              1033553 non-null  object
 9   DataValueType              1185676 non-null  object
 10  DataValue                  806942 non-null   object
 11  DataValueAlt               804578 non-null   float64
 12  DataValueFootnoteSymbol    393710 non-null   object
 13  DatavalueFootnote          393710 non-null   object
 14  LowConfidenceLimit         682380 non-null   float64
 15  HighConfidenceLimit        682380 non-null   float64
 16  StratificationCategory1    1185676 non-null  object
 17  Stratification1            1185676 non-null  object
 18  StratificationCategory2    0 non-null        float64
 19  Stratification2            0 non-null        float64
 20  StratificationCategory3    0 non-null        float64
 21  Stratification3            0 non-null        float64
 22  GeoLocation                1175510 non-null  object
 23  ResponseID                 0 non-null        float64
 24  LocationID                 1185676 non-null  int64
 25  TopicID                    1185676 non-null  object
 26  QuestionID                 1185676 non-null  object
 27  DataValueTypeID            1185676 non-null  object
 28  StratificationCategoryID1  1185676 non-null  object
 29  StratificationID1          1185676 non-null  object
 30  StratificationCategoryID2  0 non-null        float64
 31  StratificationID2          0 non-null        float64
 32  StratificationCategoryID3  0 non-null        float64
 33  StratificationID3          0 non-null        float64
dtypes: float64(13), int64(3), object(18)
memory usage: 307.6+ MB

In [21]:
dn.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2010,2010,OR,Oregon,NVSS,Cardiovascular Disease,Mortality from heart failure,NaN,NaN,Number,...,41,CVD,CVD1_4,NMBR,RACE,AIAN,NaN,NaN,NaN,NaN
1,2019,2019,AZ,Arizona,YRBSS,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,...,4,ALC,ALC1_1,CRDPREV,GENDER,GENF,NaN,NaN,NaN,NaN
2,2019,2019,OH,Ohio,YRBSS,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,...,39,ALC,ALC1_1,CRDPREV,GENDER,GENM,NaN,NaN,NaN,NaN
3,2019,2019,US,United States,YRBSS,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,...,59,ALC,ALC1_1,CRDPREV,RACE,ASN,NaN,NaN,NaN,NaN
4,2015,2015,VI,Virgin Islands,YRBSS,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,...,78,ALC,ALC1_1,CRDPREV,GENDER,GENM,NaN,NaN,NaN,NaN

In [22]:
dn.shape

(1185676, 34)